.episodes {
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;

  background: #FAFAFA;

  ul {
    list-style: none;
  }
}

.episode {
  height: auto;
  background: #FFF;
  padding: 7px 10px 7px 8px;
  border-left: 2px solid transparent;
  border-bottom: 1px solid #EEE;
  position: relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;

  &:hover { cursor: default; }

  h2 {
    font-size: 14px;
    line-height: 17px;
    padding: 0 .8em 0 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 12px;
    line-height: 16px;
    color: #999;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  p.episode-summary {
    height: 32px;
    margin: 2px 0 4px 0;
  }

  &--new {
    background: #EBF4FF;
  }

  &--favourite {
    border-top: 2px solid #FED530;
    
    .bookmark {
      position: absolute;
      top: -4px;
      left: 3px;
    }

    h2 {
      padding-left: 18px;
    }
  }

  &:active {
    background: #EEE;
  }

  &--selected {
    /*
    border: 2px solid #429AFF;
    height: auto;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    p {
      white-space: normal;
      overflow: auto;
    }
    */
    /*
    background: #429AFF;
    p, h2 {
      color: #FFF;
    }*/
  }

  .downloaded {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.episode--unplayed {
  padding-top: 9px;
}

.unplayed-bar {
  position: absolute;
  right: 0;
  top: 0;
  height: 2px;
  background: #1971EC;
}
