.episodes {
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;

  background: #FAFAFA;

  .podcast-detail {
    width: 100%;
    min-height: 200px;
    padding: 10px;
  }

  ul {
    list-style: none;
  }
}

.episode {
  height: 76px;
  overflow: hidden;
  padding: 6px 7px 6px 7px;
  border-bottom: 1px solid #EEE;
  border-left: 3px solid transparent;
  position: relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;

  &:hover { cursor: default; }

  h2 {
    font-size: 15px;
    line-height: 15px;
    margin: 2px 0 6px 0;

    > svg {
      vertical-align: middle;
      margin-right: 0.5em;
      margin-bottom: 3px;
    }
  }

  p {
    font-size: 13px;
    line-height: 16px;
    margin: 2px 0 4px 0;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--new {
    background: #EBF4FF;
    border-bottom: 1px solid #C5DDFF;

    &:first-child {
      border-top: 1px solid #C5DDFF;
    }
  }

  &--favourite {
    border-left: 3px solid #FED530;
    
    .bookmark {
      position: absolute;
      top: -2px;
      left: 7px;
    }

    h2 {
      padding-left: 25px;
    }
  }

  &--selected {
    background: #429AFF;
    p, h2 {
      color: #FFF;
    }
  }

  .downloaded {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.podcast-detail {
  display: flex;
  flex-direction: row;
  background: white;
  border-bottom: 1px solid #EEEEEE;

  .podcast-cover {
    flex-grow: 0;
    max-width: 168px;

    img {
      max-width: 168px;
      max-height: 168px;
    }
  }

  .podcast-info {
    margin: 5px 15px 0 15px;
    flex-grow: 1;
  }

  h1 {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 5px 0;
  }

  p {
    font-size: 12px;
    color: #555;
    line-height: 17px;
    margin: 3px 0;
  }

  table {
    font-size: 11px;
    line-height: 16px;
    margin: 15px 0 10px 0;

    tr td:first-child {
      white-space: nowrap;
      text-align: right;
      font-weight: 500;
      color: #000;
    }

    tr td:last-child {
      text-align: left;
      padding-left: 6px;
      color: #4A4A4A;
    }
  }
}