.form-row-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 12px 0;
  
  label {
    width: 30%;
    text-align: right;
  }

  input[type=text] {
    width: 60%;
  }
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 12px 0;
  
  label {
    text-align: left;
    margin-bottom: 3px;
  }

  input[type=text] {
    width: 100%;
  }
}

.form-control-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  > div:first-child {
    flex-grow: 3;
  }
}

label {
  padding: 0 1em 0 0;
  font-size: 12px;
  font-weight: 500;
  color: #666;
}

input[type=text] {
  background: #FFF;
  font-size: 13px;
  line-height: 17px;
  padding: 6px 7px;
  border: 1px solid #b1b1b1;
  border-radius: 2px;
}

input[type=submit] {
  background-image: linear-gradient(-180deg, #E06098 0%, #E44B8E 99%);
  border: 2px solid #D82875;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  text-shadow: 0 1px 1px rgba(0,0,0,0.23);
  padding: 6px 15px;
  line-height: 18px;
  outline: none;

  &:active {
    background-image: linear-gradient(-180deg, #FF8DBF 4%, #E44B8E 99%);
  }
}

button {
  outline: none;
}

button.small {
  background-image: linear-gradient(-180deg, #F9F9F9 4%, #EAEAEA 99%);
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  font-family: HelveticaNeue-Medium;
  font-size: 12px;
  color: #323232;
  line-height: 16px;
  padding: 4px 10px;

  &:active {
    background-image: linear-gradient(-180deg, #EAEAEA 4%, #EAEAEA 99%);
  }
}