.podcasts {
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;

  background: #FAFAFA;

  display: flex;
  flex-direction: column;

  .podcasts-list {
    flex-grow: 2;

    ul {
      list-style: none;
    }
  }
}

.podcasts li {
  height: 60px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;

  &:hover { cursor: default; }

  .podcast-list-cover {
    width: 50px;
    min-width: 50px;
    height: 50px;
    margin: 0 9px 0 0;
    float: left;

    img {
      max-width: 100%;
    }
  }

  .podcast-list-detail {
    h2 {
      font-size: 14px;
      line-height: 16px;
      margin: 2px 0 3px 0;
    }

    p {
      font-size: 11px;
      line-height: 13px;
      margin: 2px 0;
      color: #777;
    }
  }

  .podcast-list-loading {
    margin: 0 10px 0 auto;
  }

  .podcast-list-unplayed {
    margin: 0 6px 0 auto;
    padding: 2px 6px;
    background: #429AFF;
    color: #FFF;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 5px;
  }

  &:active {
    background: #EEE;
  }
}

.library-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button {
    width: 22px;
    height: 27px;
    margin: 9px 12px 9px 12px;
    background: transparent;
    border: none;
    outline: none;

    &:active {
      * {
        fill: #333;
      }
    }
  }
}